<h1>Listing articles</h1>

<ul>
  <li><%= link_to("Post a new article?", new_article_path) %></li>
  <li><%= link_to("Register as a new user?", new_user_registration_path) %></li>
  <li><%= link_to("Sign in as an existing user?", user_registration_path) %></li>
  <li><%= link_to("Sign out?", destroy_user_session_path) %></li>
</ul>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>